/* MovieCardResult.css */

.card-rsultado {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  overflow: hidden;
  text-decoration: none;
}

.btn-result-agregar-fav {
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.btn-result-agregar-fav:hover {
  color: #ff69b4; /* Cambia el color al pasar el cursor por encima */
}

.btn-result-ver-detalle{
  background-color: #20b2ff;
  margin-top: 10px;
  font-size: 12px;
  transition: color 0.3s;
  text-decoration: none;
}

.imagen {
  position: relative;
  overflow: hidden;
}

.img-poster-pelicula-resultado {
  width: 100%;
  height: auto;
}

.resultado-detalles-pelicula {
  padding: 15px;
}

.h2-titulo {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}
